## Palabras

In [127]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [15]:
# tu codigo aquí
uppercase_words = []
for word in words:
    uppercase_words.append(word.upper())
uppercase_words

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Crea una nueva lista que contenga 5 o más letras**

In [135]:
# tu codigo aquí
new_list = []
for word in words:
    if len(word) >= 5:
        new_list.append(word)
new_list

['filling', 'theatre', 'easygoing', 'story', 'island']

**Imprime la primera palabra que empiece por 't'**

In [155]:
# tu codigo aquí
t = []
for t in words:
    if t.startswith("t"):
        print(t) 
        break

theatre

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [34]:
# tu codigo aquí
list_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_numbers = []

for i in list_numbers:
    new_numbers.append(i**2)

new_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [38]:
# tu codigo aquí
list_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_numbers = []

for i in list_numbers:
    if i %2 == 1:
        new_numbers.append(i**2)
new_numbers

[1, 9, 25, 49, 81]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [58]:
# tu codigo aquí
multiplos = []
for i in range(1,1001):
    if i % 8 == 0:
        multiplos.append(i**2)
multiplos

[64,
 256,
 576,
 1024,
 1600,
 2304,
 3136,
 4096,
 5184,
 6400,
 7744,
 9216,
 10816,
 12544,
 14400,
 16384,
 18496,
 20736,
 23104,
 25600,
 28224,
 30976,
 33856,
 36864,
 40000,
 43264,
 46656,
 50176,
 53824,
 57600,
 61504,
 65536,
 69696,
 73984,
 78400,
 82944,
 87616,
 92416,
 97344,
 102400,
 107584,
 112896,
 118336,
 123904,
 129600,
 135424,
 141376,
 147456,
 153664,
 160000,
 166464,
 173056,
 179776,
 186624,
 193600,
 200704,
 207936,
 215296,
 222784,
 230400,
 238144,
 246016,
 254016,
 262144,
 270400,
 278784,
 287296,
 295936,
 304704,
 313600,
 322624,
 331776,
 341056,
 350464,
 360000,
 369664,
 379456,
 389376,
 399424,
 409600,
 419904,
 430336,
 440896,
 451584,
 462400,
 473344,
 484416,
 495616,
 506944,
 518400,
 529984,
 541696,
 553536,
 565504,
 577600,
 589824,
 602176,
 614656,
 627264,
 640000,
 652864,
 665856,
 678976,
 692224,
 705600,
 719104,
 732736,
 746496,
 760384,
 774400,
 788544,
 802816,
 817216,
 831744,
 846400,
 861184,
 876096,
 891136,
 906304,
 921600,
 937024,
 952576,
 968256,
 984064,
 1000000]

## People

In [60]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [68]:
# your code here
cantidad_personas = len(people)
print(len(people))

5

**Cuanta gente tiene hijos**?

In [70]:
# your code here
personas_con_hijos = 0
for persona in people:
    if persona["n_kids"] > 0:
        personas_con_hijos += 1

print("Cantidad de personas con hijos:", personas_con_hijos)

Cantidad de personas con hijos: 4

**Cuantos hijos tienen en total?**

In [72]:
# your code here
total_hijos = 0
for persona in people:
    total_hijos += persona["n_kids"]

print("Total de hijos:", total_hijos)

Total de hijos: 10

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [74]:
# your code here
personas_en_un_año = []

for persona in people:
    nueva_persona = persona.copy() 
    if nueva_persona["name"].endswith("a"):
        nueva_persona["n_kids"] += 1
    personas_en_un_año.append(nueva_persona)

print("Personas en un año:", personas_en_un_año)

Personas en un año: [{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]